<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weather app</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
        integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <nav class="navbar navbar-dark  navbar navbar-expand-lg navbar-dark " >
        <div class="container-fluid">
            <div class="nav-title">
                <i class="far fa-snowflake" style="color:  #0e6ffc; "></i><a class="navbar-brand"
                    href="/">Weather</a><i class="far fa-snowflake" style="color:  #0e6ffc;"></i>
            </div>
            <ul class="nav-btn">
                <li><a href="/" class="hover-underline-animation">Home</a></li>
                <li><a href="/about" class="hover-underline-animation">About</a></li>
                <li><a href="/weather" class="hover-underline-animation">Weather</a></li>
            </ul>

            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
        </div>
        <div class="burger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>

        </div>

    </nav>

    <div class="container">

        <div class="sec1">
            <p style="font-size: 22px;"">Welcome to weather app</p>
    <h1 class="head-line">Get The <span style="color: #0e6ffc;">Weather</span> Update Of Your City </h1>
                <button type="button" class="btn btn-primary btn-sm btnsmall "><a  href="/weather" class="a_tag2">Check Now</a></button>
        </div>
        <div class="sec2">
            <div class="container-box">
                <div class="wrapper">
                    <img src="./css/bg1.png">
                    <img src="./css/bg3.png">
                    <img src="./css/bg4.png">
                    <img src="./css/bg2.jpg">
                    <img src="./css/bg5.jpg">
                    <img src="./css/bg6.jpg">
                </div>
            </div>
        </div>


    </div>
    <footer class="foot" style="display: flex; justify-content: center; align-content: center;">
        <p>Copy right 2021 | ❄ Weather.com ❄</p>
    </footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>

</html>